<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>New user</title>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <h1>Add user</h1>
    <form action="/blog/add" method="post">
        <input type="text" name="firstName" placeholder="Enter name">
        <input type="text" name="lastName" placeholder="Enter name">
        <input type="text" name="login" placeholder="Enter name">
        <input type="text" name="password" placeholder="Enter name">

        <label th:for="role">Role</label>
        <select name="usrRole">
            <option th:each="usrRole : ${usrRoles}"
                    th:text="${usrRole.getName}"
                    th:value="${usrRole}"></option>
        </select>

        <button type="submit">Add user</button>
    </form>

</div>
</body>
</html>