<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>New user</title>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <h1>Add user</h1>
    <form method="post">
        <input type="text" name="firstName" placeholder="Enter name">
        <input type="text" name="lastName" placeholder="Enter name">
        <input type="text" name="login" placeholder="Enter name">
        <input type="text" name="password" placeholder="Enter name">

        <select name="usrRole">
            <option th:each="usrRole : ${T(edu.school21.restful.model.UsrRole).values()}"
                    th:value="${usrRole}"
                    th:text="${usrRole.name}">
            </option>
        </select>
        <button type="submit">Add user</button>
    </form>

</div>
</body>
</html>